.container{
  display:grid;
  grid-template-columns:1fr 2fr; /*fr means fraction*/
  grid-template-rows:1fr 1fr;
  gap:5px;
}
.container > *{
  background-color: greenyellow;
}

.one{
height:100px;
}
.two{
  height:100px;
}
.three{
  height:100px;
}
.four{
  height:100px;
}